<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cash Check</title>
</head>
<body>
    <h1>Bem-vindo</h1>

    <div>
        <h3>Seu saldo é de</h3>
        <h3>R$<span id="txtSaldo" th:text='${saldo}'>1000</span></h3>
    </div>
    <br>
    <form action="/registrar">
        <input type="submit" value="Registrar operação">
    </form>
    <br>
    <table id="tabela-historico" class="table table-bordered table-dark">
        <thead>
        <tr>
            <th colspan="2"><h3 class="display-5">Histórico de operações</h3></th>
        </tr>
        <tr>
            <td>Data/hora</td>
            <td>Valor</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c: ${operacoes}">
            <td>
                <span th:text='${c.data}'>00:00</span>
            </td>
            <td>
                R$<span th:text='${c.valor}'>00,0</span>0
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>