<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cash Check</title>
</head>
<body>
    <h1>Bem-vindo</h1>

    <div>
        <h3>Seu saldo é de</h3>
        <h3>R$<span id="txtSaldo" th:text='${saldo}'>1000</span></h3>
    </div>
    <br>
    <form action="/registrar">
        <input type="submit" value="Registrar operação">
    </form>
<!--    <form method="post">-->
<!--        <label for="txtValor">Valor</label>-->
<!--        <input type="number" id="txtValor">-->

<!--        <p>Ação:</p>-->
<!--        &lt;!&ndash;<input type="radio" id="radioDeposito" name="radioAcao" value="1">-->
<!--        <label for="radioDeposito">Deposito</label>-->
<!--        <input type="radio" id="radioRetirada" name="radioAcao" value="0">-->
<!--        <label for="radioDeposito">Retirada</label>&ndash;&gt;-->
<!--        <input type="checkbox" id="checkDeposito">-->
<!--        <label for="checkDeposito">Deposito</label>-->
<!--        <br>-->
<!--        <button type="submit">Registrar</button>-->
<!--    </form>-->
</body>
</html>